*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:
linear-gradient(rgba(15,23,42,0.9), rgba(15,23,42,0.9)),
url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da')
no-repeat center center/cover;
}

.login-card{
width:380px;
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(20px);
box-shadow:0 20px 40px rgba(0,0,0,0.5);
color:white;
text-align:center;
}

.login-card h2{
margin-bottom:10px;
}

.login-card p{
margin-bottom:20px;
font-size:14px;
opacity:0.8;
}

.login-card input{
width:100%;
padding:12px;
margin-bottom:15px;
border-radius:10px;
border:none;
outline:none;
}

.login-card button{
width:100%;
padding:12px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#2b7cff,#00c6ff);
color:white;
cursor:pointer;
transition:0.3s;
}

.login-card button:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(43,124,255,0.4);
}

#errorMsg{
margin-top:10px;
color:#ff6b6b;
}
/* LOGIN ICON */

.login-icon{
font-size:40px;
margin-bottom:10px;
color:#38bdf8;
}

/* INPUT ICON STYLE */

.input-box{
position:relative;
margin-bottom:15px;
}

.input-box input{
width:100%;
padding:12px 12px 12px 40px;
border-radius:10px;
border:none;
outline:none;
}

.input-box i{
position:absolute;
left:12px;
top:12px;
color:#334155;
}

/* LOGIN TITLE STYLE */

.login-card h2{
font-size:26px;
font-weight:600;
}

/* SMALL ANIMATION */

.login-card{
animation:fadeIn 0.8s ease;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}
.login-icon{
font-size:40px;
margin-bottom:10px;
}

.input-box{
position:relative;
margin-bottom:15px;
}

.input-box i{
position:absolute;
left:12px;
top:12px;
color:#555;
}

.input-box input{
padding-left:35px;
}